/*======================================
    Newsletter CSS
========================================*/
.newsletter-area {

    background-color: $theme-color;
    text-align: center;

    .section-title {
        padding: 0;
        padding: 0 90px;
        margin-bottom: 75px;

        span {
            color: $white;
        }

        h2 {
            color: $white;
        }

        h3.gray-bg {
            -webkit-text-stroke-width: 1px;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: #fff !important;
            opacity: 0.2 !important;
        }
    }

    .subscribe-text {
        text-align: center;
        background: #fff;
        display: inline-block;
        padding: 30px 30px;
        border-radius: 10px;
        box-shadow: 0 1rem 28px rgba(35, 38, 45, 0.15) !important;

        form {
            display: inline-block;
            text-align: center;
        }

        input {
            height: 55px;
            width: 400px;
            border: none;
            background-color: #fff;
            color: #081828;
            border-radius: 5px;
            padding: 0px 30px;
            display: block;
            text-align: center;
            display: inline-block;
            border: 2px solid #eee;
            background: transparent;
            color: #333;
            font-weight: 500;
            text-align: left;
        }

        .button {
            display: inline-block;

            .btn {
                background-color: transparent;
                color: #fff;
                border: 1px solid #eee;
                height: 55px;
                width: auto;
                display: inline-block;
                border: none;
                background: $theme-color;
                color: #fff;
                margin-left: 10px;
                margin-top: -2px;
                box-shadow: 0 1rem 28px rgba(35, 38, 45, 0.15) !important;

                &:hover {
                    background-color: $black;
                    color: $white;
                    border-color: transparent;
                    transform: none;
                }
            }
        }
    }
}