@charset "UTF-8";
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
fieldset,
label {
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/
.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "";
}

.rating > .half:before {
  content: "";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/
.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

/* hover previous stars in list */
.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.navbar-brand img {
  width: 10vw;
}

.breadcrumbs1 {
  background-image: url(../images/indexBanner.png);
}

.breadcrumbs {
  background-image: url(../images/contact2.jpg);
}

.breadcrumbs2 {
  background-image: url(../images/About-Us-1.jpg);
}

.breadcrumbs3 {
  background-image: url(../images/lock.png);
}

.breadcrumbsSafes {
  background-image: url(../images/safes.jpg);
}

.safeDetailPage {
  background-image: url(../images/safeDetail.jpg);
}

.accessControl {
  background-image: url(../images/access2.jpg);
}

.automation {
  background-image: url(../images/automation1.jpg);
}

.cta-sectionBg {
  background-image: url(../images/contactSection.jpg);
}

.videoSurveillance {
  background-image: url(../images/videoSurveillance.jpg);
}