.navbar-brand img {
  width: 10vw;
}

.breadcrumbs1 {
  background-image: url(../images/indexBanner.png);
}

.breadcrumbs {
  background-image: url(../images/contact2.jpg);
}

.breadcrumbs2 {
  background-image: url(../images/About-Us-1.jpg);
}

.breadcrumbs3 {
  background-image: url(../images/lock.png);
}

.breadcrumbsSafes {
  background-image: url(../images/safes.jpg);
}

.safeDetailPage {
  background-image: url(../images/safeDetail.jpg);
}

.accessControl {
  background-image: url(../images/access2.jpg);
}

.automation {
  background-image: url(../images/automation1.jpg);
}

.cta-sectionBg {
  background-image: url(../images/contactSection.jpg);
}

.videoSurveillance {
  background-image: url(../images/videoSurveillance.jpg);
}