// footer section start
.breadcrumbs {
  background-image: url(../images/contact2.jpg);
}
.breadcrumbs2 {
  background-image: url(../images/About-Us-1.jpg);
}
// lock page
.breadcrumbs3 {
  background-image: url(../images/lock.png);
}
