.navbar-brand img {
  width: 10vw;
}

// index page banner
.breadcrumbs1 {
  background-image: url(../images/indexBanner.png);
}
// footer section start
.breadcrumbs {
  background-image: url(../images/contact2.jpg);
}
.breadcrumbs2 {
  background-image: url(../images/About-Us-1.jpg);
}
// lock page
.breadcrumbs3 {
  background-image: url(../images/lock.png);
}
// Safes
.breadcrumbsSafes {
  background-image: url(../images/safes.jpg);
}
.safeDetailPage {
  background-image: url(../images/safeDetail.jpg);
}
// Access Control page css start
.accessControl {
  background-image: url(../images/access2.jpg);
}
// automationpage css start
.automation {
  background-image: url(../images/automation1.jpg);
}
