@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset,
label {
  margin: 0;
  padding: 0;
  pointer-events: none;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
  pointer-events: none;
}

.rating > input {
  display: none;
  pointer-events: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

.navbar-brand img {
  width: 10vw;
}

// index page banner
.breadcrumbs1 {
  background-image: url(../images/indexBanner.png);
}
// footer section start
.breadcrumbs {
  background-image: url(../images/contact2.jpg);
}
.breadcrumbs2 {
  background-image: url(../images/About-Us-1.jpg);
}
// lock page
.breadcrumbs3 {
  background-image: url(../images/lock.png);
}
// Safes
.breadcrumbsSafes {
  background-image: url(../images/safes.jpg);
}
.safeDetailPage {
  background-image: url(../images/safeDetail.jpg);
}
// Access Control page css start
.accessControl {
  background-image: url(../images/access2.jpg);
}
// automationpage css start
.automation {
  background-image: url(../images/automation1.jpg);
}
// index page
.cta-sectionBg {
  background-image: url(../images/contactSection.jpg);
}
// videoSurveillance page start
.videoSurveillance {
  background-image: url(../images/videoSurveillance.jpg);
}
